.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* ===== Cards Block: GKC Home Card variant ===== */

.cards.gkc-home-card > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vw;
}

.cards.gkc-home-card > ul > li {
  width: 60vw;
  height: 20vw;
  overflow: hidden;
  position: relative;
  border: none;
}

.cards.gkc-home-card > ul > li .cards-card-image {
  position: absolute;
  inset: 0;
}

.cards.gkc-home-card > ul > li .cards-card-image picture {
  display: block;
  width: 100%;
  height: 100%;
}

.cards.gkc-home-card > ul > li img {
  width: 100%;
  height: 100%;
  aspect-ratio: unset;
  object-fit: cover;
}
