/* {BLOCK_FUNC} Block Styles */
.{BLOCK_NAME} {
  margin: var(--spacer-04) 0;
  padding: 0;
}

.{BLOCK_NAME} hr {
  border: none;
  height: 1px;
  background-color: var(--nec-gray-30);
  margin: 0;
  width: 100%;
}
