.table {
  overflow-x: auto;
}

.table .table-row {
  display: flex;
  border-bottom: 1px solid #dadada;
}

.table .table-row:first-child {
  border-top: 1px solid #dadada;
}

.table .table-cell {
  flex: 1 1 0%;
  padding: 12px 16px;
  border-left: 1px solid #dadada;
  vertical-align: top;
}

.table .table-cell:last-child {
  border-right: 1px solid #dadada;
}

.table .table-cell p {
  margin: 0 0 8px;
}

.table .table-cell p:last-child {
  margin-bottom: 0;
}

.table .table-cell img {
  max-width: 100%;
  height: auto;
}

.table.grey-first-column .table-row .table-cell:first-child {
  background-color: #f5f5f5;
}
