/* stylelint-disable no-descending-specificity */

/* Button default and Button - Filled - Disabled state */

.button:disabled,
a.button.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: var(--nec-gray-40);
    background-color: var(--nec-gray-20);
    border: 1px solid var(--nec-gray-20);
}

.button:disabled:focus,
a.button.disabled:focus {
    outline: none; /* Remove focus outline for disabled buttons */
}

.button:disabled img,
a.button.disabled img {
    /* nec-gray-40 icon */
    filter: brightness(0) saturate(100%) invert(76%) sepia(6%) saturate(868%) hue-rotate(186deg) brightness(89%) contrast(90%);
}

/* Button - Outlined */

.button.button-outlined,
a.button-outlined {
  background-color: var(--nec-gray-0);
  color: var(--nec-sky-50);
  border-color: var(--nec-sky-50);
}

.button.button-outlined img,
a.button-outlined img {
    /* nec-sky-50 icon */
    filter: brightness(0) saturate(100%) invert(37%) sepia(87%) saturate(5300%) hue-rotate(226deg) brightness(101%) contrast(101%);
}

/* Button - Outlined - Hover state */

.button.button-outlined:hover img,
a.button-outlined:hover img {
  /* white icon */
  filter: brightness(0) invert(1);
}

/* Button - Outlined - Disabled state */

.button.button-outlined:disabled,
a.button-outlined.disabled {
  color: var(--nec-gray-40);
  border-color: var(--nec-gray-20);
  background-color: var(--nec-gray-0);
}

/* Button - Outline, filled - :hover state */

.button:hover,
a.button:hover,
.button.button-outlined:hover,
a.button-outlined:hover {
    color: var(--nec-gray-0);
    background-color: var(--nec-blue-50);
    border: 1px solid var(--nec-blue-50);
}

/* Button - Outline, filled - :active state */

.button:active,
a.button:active,
.button.button-outlined:active,
a.button-outlined:active {
    color: var(--nec-blue-50);
    background-color: var(--nec-sky-05);
    border: 1px solid var(--nec-sky-05);
}

.button:active img,
a.button:active img,
.button.button-outlined:active img,
a.button-outlined:active img {
    /* nec-blue-50 icon */
    filter: brightness(0) saturate(100%) invert(13%) sepia(79%) saturate(5187%) hue-rotate(235deg) brightness(88%) contrast(108%);
}

/* Button - Text  */

.button.button-text,
a.button-text {
  background-color: transparent;
  color: var(--nec-gray-90);
  border: none;
  padding: 9.5px 8px 9.5px 0;
  line-height: var(--line-height-xs);
  text-decoration: underline;
}

html[lang="ja"] .button.button-text,
html[lang="ja"] a.button-text {
  line-height: var(--line-height-ja-xxxl);
  letter-spacing: var(--letter-spacing-ja);
}

/* If the first child is an icon → adjust left padding */
.button.button-text:has(> .icon:first-child),
a.button.button-text:has(> .icon:first-child) {
  padding-left: 0;
  padding-right: 8px;
}

/* If the last child is an icon → adjust right padding */
.button.button-text:has(> .icon:last-child),
a.button.button-text:has(> .icon:last-child) {
  padding-left: 0;
  padding-right: 4px;
}

.button.button-text img,
a.button-text img{
    /* nec-grey-90 icon  */
    filter: brightness(0) saturate(100%) invert(15%) sepia(7%) saturate(1734%) hue-rotate(185deg) brightness(94%) contrast(86%);
}

/* Button - Text: Hover, Text: Active  */

.button.button-text:hover,
a.button-text:hover, 
.button.button-text:active,
a.button-text:active {
  border: none;
  background-color: transparent;
  color: var(--nec-blue-50);
}

.button.button-text:hover img,
a.button-text:hover img, 
.button.button-text:active img,
a.button-text:active img {
    filter: brightness(0) saturate(100%) invert(13%) sepia(79%) saturate(5187%) hue-rotate(235deg) brightness(88%) contrast(108%);
}


/* Button - Text: Disabled  */

.button.button-text:disabled,
a.button-text.disabled {
  border: none;
  background-color: transparent;
  color: var(--nec-gray-40);
}


/* Button - Anchor  */

.button.button-anchor,
a.button-anchor {
    background-color: var(--nec-gray-0);
    color: var(--nec-gray-90);
    padding: 4px 8px;
    border: none;
}

/* If the first child is an icon → adjust left padding */
.button.button-anchor:has(> .icon:first-child),
a.button.button-anchor:has(> .icon:first-child) {
  padding-left: 8px;
  padding-right: 8px;
}

/* If the last child is an icon → adjust right padding */
.button.button-anchor:has(> .icon:last-child),
a.button.button-anchor:has(> .icon:last-child) {
  padding-left: 8px;
  padding-right: 8px;
}

.button.button-anchor .icon,
a.button-anchor .icon {
    height: 16px;
    width: 16px;
}

.button.button-anchor img,
a.button-anchor img{
    /* nec-grey-90 icon  */
    filter: brightness(0) saturate(100%) invert(15%) sepia(7%) saturate(1734%) hue-rotate(185deg) brightness(94%) contrast(86%);
}

/* Button - Anchor : hover */

.button.button-anchor:hover,
a.button-anchor:hover {
    background-color: var(--nec-blue-50);
    color: var(--nec-gray-0);
    border: none;
}

.button.button-anchor:hover img,
a.button-anchor:hover img {
  /* white icon */
  filter: brightness(0) invert(1);
}

/* Button - Anchor : active */

.button.button-anchor:active,
a.button-anchor:active {
    background-color: var(--nec-sky-05);
    color: var(--nec-blue-50);
    border: none;
}

.button.button-anchor:active img,
a.button-anchor:active img {
    /* nec-blue-50 icon */
    filter: brightness(0) saturate(100%) invert(13%) sepia(79%) saturate(5187%) hue-rotate(235deg) brightness(88%) contrast(108%);
}

/* Button - Nav  */

.button.button-nav,
a.button-nav {
    background-color: var(--nec-gray-0);
    border-color: var(--nec-gray-0);
    color: var(--nec-gray-90);
    padding: 9px 16px;
}

.button.button-nav img,
a.button-nav img{
    /* nec-grey-90 icon  */
    filter: brightness(0) saturate(100%) invert(15%) sepia(7%) saturate(1734%) hue-rotate(185deg) brightness(94%) contrast(86%);
}

/* Button - Nav : hover */

.button.button-nav:hover,
a.button-nav:hover {
    background-color: var(--nec-sky-05);
    border-color: var(--nec-sky-05);
    color: var(--nec-gray-90);
}

.button.button-nav:hover img,
a.button-nav:hover img{
    /* nec-grey-90 icon  */
    filter: brightness(0) saturate(100%) invert(15%) sepia(7%) saturate(1734%) hue-rotate(185deg) brightness(94%) contrast(86%);
}

/* Button - nav : active */

.button.button-nav:active,
a.button-nav:active {
    background-color: var(--nec-sky-05);
    border-color: var(--nec-sky-05);
    color: var(--nec-blue-50);
}

.button.button-nav:active img,
a.button-nav:active img{
     /* nec-blue-50 icon */
    filter: brightness(0) saturate(100%) invert(13%) sepia(79%) saturate(5187%) hue-rotate(235deg) brightness(88%) contrast(108%);
}
